[submodule "dependencies/CASE-Utilities-Python"]
	path = dependencies/CASE-Utilities-Python
	url = https://github.com/casework/CASE-Utilities-Python.git
[submodule "dependencies/CASE"]
	path = dependencies/CASE
	url = https://github.com/casework/CASE.git
