---
title: Migration guide
---
<p>This page details how to migrate data from the CASE 0.1 prototype implementation, and examples built based on the prototype implementation, to the CASE 0.2.0 and the version of UCO it imports.  Examples are rendered on this page for human reading convenience, but also available as machine-readable files, linked in the table of contents and each section.</p>

<p>This migration guide supports the version of UCO current at the time of CASE 0.2.0's release.  That version was <a href="https://github.com/ucoProject/UCO/releases/tag/0.4.0">0.4.0</a>.</p>

<h3>Table of Contents</h3>

<ul>
  <li><a href="#status">Status</a></li>
  <li><a href="#prefixes">Prefixes</a></li>
  <li><a href="#classes">Classes</a> (<a href="classes.csv">CSV</a>, <a href="classes.tsv">TSV</a>)</li>
  <li><a href="#classes_ambiguous">Ambiguous Classes</a> (<a href="classes_ambiguous.csv">CSV</a>, <a href="classes_ambiguous.tsv">TSV</a>)</li>
  <li><a href="#properties">Properties</a> (<a href="properties.csv">CSV</a>, <a href="properties.tsv">TSV</a>)</li>
  <li><a href="#properties_ambiguous">Ambiguous Properties</a> (<a href="properties_ambiguous.csv">CSV</a>, <a href="properties_ambiguous.tsv">TSV</a>)</li>
  <li><a href="#kindOfRelationship_enumerants">kindOfRelationship enumerants</a> (<a href="kindOfRelationship_enumerants.csv">CSV</a>, <a href="kindOfRelationship_enumerants.tsv">TSV</a>)</li>
</ul>

<h3 id="status">Status</h3>

<p>This guide was written to assist early CASE adopters, who had the prototype <code>case.ttl</code> file and early example JSON-LD to use as guides for their implementations.  The guide was built as part of the output of migrating those early example JSON-LD files from the prototype CASE ontology to the CASE ontology that imports UCO.  Further work can be done to provide the complete mapping from the prototype file to their UCO counterpart terms, but the amount of effort to do so for the entire prototype surpasses current available time.  We are happy to document further concept migrations on request.</p>

<h3 id="prefixes">Prefixes</h3>

<p>This document uses namespace prefixes for on-page legibility.  The following table provides their expansions.</p>

<table id="migration-0.2-prefixes" class="table table-hover">
  <caption>Namespace prefixes and their expansions.</caption>
  <thead>
    <tr>
      <th>Prefix</th>
      <th>Expansion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>case-investigation</code></td>
      <td><code>https://caseontology.org/ontology/case/investigation#</code></td>
    </tr>
    <tr>
      <td><code>uco-action</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/action#</code></td>
    </tr>
    <tr>
      <td><code>uco-core</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/core#</code></td>
    </tr>
    <tr>
      <td><code>uco-identity</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/identity#</code></td>
    </tr>
    <tr>
      <td><code>uco-location</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/location#</code></td>
    </tr>
    <tr>
      <td><code>uco-observable</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/observable#</code></td>
    </tr>
    <tr>
      <td><code>uco-role</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/role#</code></td>
    </tr>
    <tr>
      <td><code>uco-types</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/types#</code></td>
    </tr>
    <tr>
      <td><code>uco-tool</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/tool#</code></td>
    </tr>
    <tr>
      <td><code>uco-vocabulary</code></td>
      <td><code>https://unifiedcyberontology.org/ontology/uco/vocabulary#</code></td>
    </tr>
  </tbody>
</table>

<h3 id="classes">Classes</h3>

<p>The first column is the spelling of the CASE 0.1 class name, without prefixes because the original example files omitted prefixes.  The second column is the prefixed class name in the release targeted by this migration guide.</p>

<p>These migration steps are also available in machine-readable form at <a href="classes.csv">classes.csv</a> or <a href="classes.tsv">classes.tsv</a>.</p>

<table id="migration-0.2-classes" class="table table-hover">
  <caption>CASE prototype classes and what classes they became in CASE 0.2.0.  An empty second column indicates the class name does not appear in CASE 0.2.0 or its imported ontologies.</caption>
  <thead>
    <tr>
      <th>Class</th>
      <th>IRI</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.releases.migration_0_2_0.classes %}
      <tr>
        <td><code>{{ item.source_class }}</code></td>
        <td>{% if item.destination_class %}<code>{{ item.destination_class }}</code>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3 id="classes_ambiguous">Ambiguous Classes</h3>

<p>Some prototype classes require other contextual information to determine what the destination class name should be.  For example, with the prototype class <code>Relationship</code>, the <code>kindOfRelationship</code> property's used enumerant will indicate whether the CASE 0.2.0 class is a <code>uco-core:Relationship</code> or a <code>uco-observable:CyberRelationship</code>.</p>

<p>These migration steps are also available in machine-readable form at <a href="classes_ambiguous.csv">classes_ambiguous.csv</a> or <a href="classes_ambiguous.tsv">classes_ambiguous.tsv</a>.</p>

<table id="migration-0.2-classes_ambiguous" class="table table-hover">
  <caption>CASE prototype classes and what classes they became in CASE 0.2.0.</caption>
  <thead>
    <tr>
      <th>Class</th>
      <th>IRI</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.releases.migration_0_2_0.classes_ambiguous %}
      <tr>
        <td><code>{{ item.source_class }}</code></td>
        <td>{% if item.destination_class %}<code>{{ item.destination_class }}</code>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3 id="properties">Properties</h3>

<p>This table shows how to migrate properties, much like the above tables on migrating classes.  An empty second column indicates the property does not appear in CASE 0.2.0 or its imported ontologies.</p>

<p>For properties that refer to data literals (versus referring to objects), the literal's type needs to be assigned as well.  The third column in this table shows the required literal type.  If the third column is empty, the default of <code>xsd:string</code> or <code>xsd:integer</code> should be used, which as a default RDF behavior typically requires no extra work on the programmer's behalf.  (There is no similar literal-type designation column for properties of the prototype because sample data using the prototype did not type literals.)</p>

<p>These migration steps are also available in machine-readable form at <a href="properties.csv">properties.csv</a> or <a href="properties.tsv">properties.tsv</a>.</p>

<table id="migration-0.2-properties" class="table table-hover">
  <caption>CASE prototype properties and what properties they became in CASE 0.2.0.  An empty second column indicates the property does not appear in CASE 0.2.0 or its imported ontologies.</caption>
  <thead>
    <tr>
      <th>Property</th>
      <th>IRI</th>
      <th>Type of literal</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.releases.migration_0_2_0.properties %}
      <tr>
        <td><code>{{ item.source_property }}</code></td>
        <td>{% if item.destination_property %}<code>{{ item.destination_property }}</code>{% endif %}</td>
        <td>{% if item.destination_type %}<code>{{ item.destination_type }}</code>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3 id="properties_ambiguous">Ambiguous Properties</h3>

<p>This table assists with mapping properties as above, except other contextual information needs to be observed to determine what the destination property should be.</p>

<p>These migration steps are also available in machine-readable form at <a href="properties_ambiguous.csv">properties_ambiguous.csv</a> or <a href="properties_ambiguous.tsv">properties_ambiguous.tsv</a>.</p>

<table id="migration-0.2-properties_ambiguous" class="table table-hover">
  <caption>CASE prototype properties and what properties they became in CASE 0.2.0.  An empty second column indicates the property does not appear in CASE 0.2.0 or its imported ontologies.</caption>
  <thead>
    <tr>
      <th>Property</th>
      <th>IRI</th>
      <th>Type of literal</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.releases.migration_0_2_0.properties_ambiguous %}
      <tr>
        <td><code>{{ item.source_property }}</code></td>
        <td>{% if item.destination_property %}<code>{{ item.destination_property }}</code>{% endif %}</td>
        <td>{% if item.destination_type %}<code>{{ item.destination_type }}</code>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h3 id="kindOfRelationship_enumerants">kindOfRelationship Enumerants</h3>

<p>The prototype used a single <code>Relationship</code> class to relate objects to one another.  In CASE 0.2.0, the prototype's <code>Relationship</code> will be replaced with either a <code>uco-core:Relationship</code> or <code>uco-observable:CyberRelationship</code>.  These two relationship classes use different sets of enumerants, identified by the enumerant's type.  This table assists with not only migrating the enumerant, but determining which type of relationship class the prototype <code>Relationship</code> should become.</p>

<p>These migration steps are also available in machine-readable form at <a href="kindOfRelationship_enumerants.csv">kindOfRelationship_enumerants.csv</a> or <a href="kindOfRelationship_enumerants.tsv">kindOfRelationship_enumerants.tsv</a>.</p>

<table id="migration-0.2-kindOfRelationship_enumerants" class="table table-hover">
  <caption>CASE prototype enumerants and what enumerants they became in CASE 0.2.0.  An empty second column indicates the enumerant does not appear in CASE 0.2.0 or its imported ontologies.</caption>
  <thead>
    <tr>
      <th>Prototype enumerant</th>
      <th>CASE 0.2.0 enumerant</th>
      <th>Type of literal</th>
    </tr>
  </thead>
  <tbody>
    {% for item in site.data.releases.migration_0_2_0.kindOfRelationship_enumerants %}
      <tr>
        <td><code>{{ item.source_enumerant }}</code></td>
        <td>{% if item.destination_enumerant %}<code>{{ item.destination_enumerant }}</code>{% endif %}</td>
        <td>{% if item.destination_type %}<code>{{ item.destination_type }}</code>{% endif %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
